@model IEnumerable<StudentOffice.Models.User>

<h2 class="text-center" style="margin-bottom: 30px">Меню администратора</h2>

<form>

    <table class="table">
        <tr>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Роль</th>
        </tr>
        @foreach (User item in Model)
        {
            <tr>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td>@item.Role?.Name</td>
            </tr>

        }
    </table>
    <select>
        @foreach (User item in Model)
        {
     
            <option>@item.Email</option>
            <option>@item.Password</option>
            <option>@item.Role?.Name</option>
       

        }
    </select>

</form>