@model IEnumerable<StudentOffice.Models.DataBase.Image>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Главная картинки</h1>

<p>
    <a asp-action="Create">Добавить новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImageId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.ImageId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.ImageId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
