@model StudentOffice.Models.DataBase.SelectionСommittee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 align="center">Удаление приемной комиссии</h3>
<hr />
<div class="justify-content-center"">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateEnd)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SelectionСommitteeId" />
        <input type="submit" value="Удалить" class="btn btn-danger"/> 
    </form>
</div>
