@model List<TimeTableGroup>

<h2>Расписание</h2>

<a asp-action="Create" asp-controller="TimeTable">Добавить</a>

<table align="center">

    @*@foreach (var timeTableGroup in Model.Select((timeTableGroupValue, timeTableGroupIterator) => new { timeTableGroupValue, timeTableGroupIterator }))
    {*@

        @foreach (var timeTableGroup in Model.Select((timeTableGroupValue, timeTableGroupIterator) => new { timeTableGroupValue, timeTableGroupIterator }))
        {
            <tr>

                <td>
                    День
                </td>

                <td>
                    ПАРА
                </td>

                <td>@timeTableGroup.timeTableGroupValue.Group.GroupName</td>

            </tr>
            foreach (var couple in timeTableGroup.timeTableGroupValue.Couples.Select((value, i) => new { value, i }))
            {
                <tr>

                    @if (couple.i == 0)
                    {
                        <td id="rotate" rowspan="@Model.ElementAt(timeTableGroup.timeTableGroupIterator).Couples.Count()" align="center">
                            @Model.ElementAt(timeTableGroup.timeTableGroupIterator).TimeTable.DateTime.ToShortDateString()
                        </td>
                    }

                    <td>
                        @(couple.i + 1)
                    </td>

                    <td style="text-align: left">
                        @Html.Raw($"Дисциплина: {couple.value.Discipline.DisciplineShortName}</br>Преподаватель: {couple.value.User.FullName}</br>Аудитория: {couple.value.Audience.AudienceNameShort}")
                    </td>

                </tr>
            }

        }
    

</table>



<style type="text/css">
    td {
        border-collapse: collapse;
        border: 1px black solid;
        text-align: center;
    }

    #rotate {
        -moz-transform: rotate(-90.0deg); /* FF3.5+ */
        -o-transform: rotate(-90.0deg); /* Opera 10.5 */
        -webkit-transform: rotate(-90.0deg); /* Saf3.1+, Chrome */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
        max-width: 35px;
    }
</style>


