@model IEnumerable<StudentOffice.Models.DataBase.MainPlan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Главный план</h1>

<p>
    <a asp-action="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmissionPlan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MainPlanId">Редактировать</a><br>
                <a asp-action="Details" asp-route-id="@item.MainPlanId">Подробнее</a><br>
                <a asp-action="Delete" asp-route-id="@item.MainPlanId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
