@model MarkLog
<a asp-action="Create" asp-controller="MarkLog">Добавить</a>


@if (Model?.MarkUsers != null)
{
    <table cellpadding="0" cellspacing="0" align="center">
        <tr>

            <td rowspan="2">
                №
            </td>

            <td rowspan="2">
                ФИО
            </td>

            <td colspan="@Model?.MarkUsers?.FirstOrDefault()?.Marks?.Count()">
                Наименование дисциплин / Отметки
            </td>

            <td colspan="@Model?.MarkUsers?.FirstOrDefault()?.MarkExams?.Count()">
                Экзамены / Отметки
            </td>

            <td class="rotate" rowspan="2">
                <div>Средний балл</div>
            </td>

            <td colspan="2">
                Пропуски
            </td>

        </tr>

        <tr style="height: 400px">

            @foreach (var mark in Model?.MarkUsers?.FirstOrDefault()?.Marks)
            {
            <td class="rotate">
                <div>@mark?.Discipline?.DisciplineName</div>
            </td>
            }

            @foreach (var mark in Model.MarkUsers?.FirstOrDefault()?.MarkExams)
            {
                <td class="rotate">
                    <div>@mark?.Exam?.ExamName</div>
                </td>
            }

            <td class="rotate">
                <div>Всего</div>
            </td>

            <td class="rotate">
                <div>Неуважительных</div>
            </td>

        </tr>

        @foreach (var markUser in Model?.MarkUsers?.Select((value, iterator) => new { value, iterator }))
        {
            <tr>

                <td>
                    @(markUser.iterator + 1)
                </td>

                <td>
                    @markUser.value.User.GetInitial
                </td>

                @foreach (var mark in markUser.value.Marks)
                {
                    <td>
                        @mark.MarkValue
                    </td>
                }

                @foreach (var markExam in markUser.value.MarkExams)
                {
                    <td>
                        @markExam.MarkValue
                    </td>
                }

                <td>
                    @markUser.value.AverangeMark
                </td>

                <td>
                    @markUser.value.OmissionTotal
                </td>
                <td>
                    @markUser.value.OmissionDisrespectful
                </td>

            </tr>
        }

    </table>
}





<style type="text/css">
    td {
        border: 1px black solid;
        padding: 5px;
    }

    .rotate {
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        width: 1.5em;
    }

        .rotate div {
            -moz-transform: rotate(-90.0deg); /* FF3.5+ */
            -o-transform: rotate(-90.0deg); /* Opera 10.5 */
            -webkit-transform: rotate(-90.0deg); /* Saf3.1+, Chrome */
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); /* IE6,IE7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
            margin-left: -10em;
            margin-right: -10em;
        }
</style>
