@using StudentOffice.Helpers;
@model User


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=utf-8">
    <TITLE></TITLE>
    <STYLE TYPE="text/css">

        td.R10C9 {
            font-family: Arial;
            font-size: 8pt;
            font-style: normal;
            text-align: center;
        }

        td.R2C16 {
            border-bottom: #000000 1px solid;
        }

        .bb {
            border-bottom: #000000 1px solid;
        }
    </STYLE>
</HEAD>
<BODY>
    <h3 align="center">Заявление абитуриента</h3>
    <hr />

    <form method="post" asp-controller="Document" asp-action="ApplicationOfApplicant">
        <div class="row justify-content-center">
            <div class="col col-md-2">
                <input style="margin-bottom: 20px" class="btn btn-outline-success btn-block" type="submit" value="Скачать" />
            </div>
        </div>
    </form>




    <TABLE align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>

        <tr>
            <td>

                Допустить к вступительным испытаниям
            </td>

            <td>
                Зачислить на <span class="bb">&nbsp;&nbsp;@Model.Anketa.Specialty.Group.Course&nbsp;&nbsp;</span> курс
            </td>
        </tr>

        <tr>
            <td>
            </td>

            <td>
                на специальность (направление специальности)
            </td>
        </tr>

        <tr>
            <td>
                Директор (ректор) ____________________________
            </td>

            <td class="R2C16">
                @Model.Anketa.Specialty.Name
            </td>
        </tr>


        <tr>
            <td>
                &nbsp;
            </td>

            <td class="R2C16">
                &nbsp;
            </td>
        </tr>


        <tr>
            <td>
                "____"_______________________________________ г.
            </td>

            <td class="R2C16">
                &nbsp;
            </td>
        </tr>

        <tr>
            <td>
            </td>

            <td>
                Приказ "____" __________________________ №______________
            </td>
        </tr>

        <tr>
            <td>
            </td>

            <td>
                Директор (ректор) _____________________О.А. Черепович
            </td>
        </tr>


        <tr>
            <td>
                &nbsp;
            </td>

            <td>
                &nbsp;
            </td>
        </tr>


        <tr>
            <td>
                &nbsp;
            </td>

            <td>
                &nbsp;
            </td>
        </tr>

        <tr>
            <td colspan="2">
                Директору (ректору)      <span class="bb">Учреждение образования "Молодечненский торгово-экономический колледж" Белкоопсоюза</span>
            </td>
        </tr>


        <tr>
            <td class="R10C9" colspan="2">
                (наименование учреждения образования)
            </td>
        </tr>


        <tr>
            <td class="R2C16" colspan="2">
                от 	   <span>@Model.GetFullNameR</span>
            </td>
        </tr>

        <tr>
            <td class="R10C9" colspan="2">
                (фамилия, собственное имя, отчество, если таковое есть)
            </td>
        </tr>
    </TABLE>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td style="width: 20%;">
                который проживает<br>по адресу:
            </td>

            <td class="R2C16">
                @($"{Model.GetAddress}, {Model.Anketa.HomePhone}")
            </td>
        </tr>

        <tr>
            <td class="R10C9" colspan="2">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(почтовый индекс, адрес места жительства в соответствии со штампом о регистрации, домашний телефон)
            </td>
        </tr>

    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td style="width: 15%;">
                и закончил
            </td>

            <td class="R2C16">
                в @Model.Anketa.YearOfEnding.Year году @(Model.Anketa.EducationLevel == EducationLevel.Basic ? "9" : "11") Классов @Model.Anketa.Institution
            </td>
        </tr>

        <tr>
            <td class="R10C9" colspan="2">
                (год окончания, наименование учреждения образования)
            </td>
        </tr>

    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td style="font-size: 14pt;" colspan="2">
                <center>ЗАЯВЛЕНИЕ</center>
            </td>
        </tr>
    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td colspan="2">
                Прошу допустить меня к вступительным испытаниям и участию в конкурсе для получения среднего специального образования по специальности (направлению специальности) ("@Model.Anketa.Specialty.Name") в @(Model.Anketa.Specialty.Branch == Branch.Daytime ? "дневной" : "заочной") форме получения образования.
                <br>Вступительные испытания буду сдавать на русском языке
                <br>О себе сообщаю следующие сведения:
                <br>число, месяц, год рождения	<span class="bb">@Model.Anketa.Birthday.ToString("D")</span>
            </td>
        </tr>
    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td style="width: 45%;">
                место работы, занимаемая должность (профессия)
            </td>

            <td class="R2C16">
                @Model.Anketa.PlaceOfWorkAndPosition
            </td>
        </tr>
    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td style="width: 50%;">
                трудовой стаж по профилю избранной специальности
            </td>

            <td class="R2C16">
                @Model.Anketa.SeniorityProfileSpecialty
            </td>
        </tr>
    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td style="width: 25%;">
                нуждаюсь в общежитии:
            </td>

            <td>
                <span class="bb">&nbsp;&nbsp;&nbsp;@(Model.Anketa.SocialBehavior ? "Да" : "Нет")&nbsp;&nbsp;&nbsp;</span>
            </td>
        </tr>
    </table>


    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td style="width: 25%;">
                имею права на льготы:
            </td>

            <td>
                <span class="bb">&nbsp;&nbsp;&nbsp;Нет&nbsp;&nbsp;&nbsp;</span>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                родители:
            </td>
        </tr>
    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td style="width: 10%;">
                @(EnumHelper<KinshipTypeFather>.GetDisplayValue(Model.Anketa.KinshipTypeFather))
            </td>

            <td class="R2C16">
                @Model.GetFullNameFather
            </td>
        </tr>

        <tr>
            <td class="R10C9" colspan="2">
                (фамилия, собственное имя, отчество (если таковое имеется))
            </td>
        </tr>

    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td style="width: 20%;">
                проживает по адресу:
            </td>

            <td class="R2C16">
                @Model.Anketa.AddressFather
            </td>
        </tr>

        <tr>
            <td class="R10C9" colspan="2">
                (почтовый индекс, адрес места жительства в соответствии со штампом о регистрации)
            </td>
        </tr>

    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td style="width: 10%;">
                @(EnumHelper<KinshipTypeMother>.GetDisplayValue(Model.Anketa.KinshipTypeMother))
            </td>

            <td class="R2C16">
                @Model.GetFullNameMother
            </td>
        </tr>

        <tr>
            <td class="R10C9" colspan="2">
                (фамилия, собственное имя, отчество (если таковое имеется))
            </td>
        </tr>

    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td style="width: 20%;">
                проживает по адресу:
            </td>

            <td class="R2C16">
                @Model.Anketa.AddressMother
            </td>
        </tr>

        <tr>
            <td class="R10C9" colspan="2">
                (почтовый индекс, адрес места жительства в соответствии со штампом о регистрации)
            </td>
        </tr>

    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td style="width: 45%;">
                данные документа, удостоверяющего личность
            </td>

            <td class="R2C16">
                @($"{Model.Anketa.DocumentType.Name} {Model.Anketa.PassportSeries}{Model.Anketa.PassportNumber}")
            </td>
        </tr>

        <tr>
            <td class="R10C9" colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(серия (при наличии), номер)
            </td>
        </tr>

    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td class="R2C16" colspan="2">
                выдан  @Model.Anketa.DateOfIssue.ToShortDateString()&nbsp;@Model.Anketa.IssuedBy @Model.Anketa.IdentityNumber
            </td>
        </tr>

        <tr>
            <td class="R10C9" colspan="2">
                (дата выдачи, наименование государственного органа, его выдавшего, идентификационный номер (при наличии))
            </td>
        </tr>

    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td colspan="2">
                С правилами приема и порядком подачи апелляции в учреждение образования ознакомлен(а)
            </td>
        </tr>
    </table>

    <table align="center" style="width:70%; height:0px; font-size: 10pt;" CELLSPACING=0>
        <tr>
            <td style="width: 33%" class="R2C16">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @DateTime.Now.ToString("D")
            </td>

            <td style="width: 33%">
                &nbsp;
            </td>

            <td style="width: 33%" class="R2C16">
                &nbsp;
            </td>
        </tr>

        <tr>
            <td style="width: 33%" class="R10C9">
                (дата заполнения заявления)
            </td>

            <td style="width: 33%">
                &nbsp;
            </td>

            <td style="width: 33%" class="R10C9">
                (подпись)
            </td>
        </tr>
    </table>

</BODY>
</HTML>
